@import '../../theme/appTheme';

input {
    width: 90%;
    padding: 4%;
    font-size: $fontMedium;
    border: 1px solid black;
    border-radius: 6px;
    margin: 2% 0;
    text-overflow: ellipsis;
    outline: none;

    &::-webkit-datetime-edit { font-size: inherit; }
    &::-webkit-calendar-picker-indicator { cursor: pointer; outline:none; font-size: inherit;}
}
