@import '../../theme/appTheme';

.container{
    display: flex;
    height: 90%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.filters{
    display: flex;
    flex: 1 1 20%;

    @include respond-to('medium'){
      flex: 1 1 30%;
    }

    @include respond-to('small'){
      flex: 1 1 100%;
    }

}

.content{
    display: flex;
    flex: 1 1 80%;

    @include respond-to('medium'){
      flex: 1 1 70%;
    }

    @include respond-to('small'){
      flex: 1 1 100%;
    }
}