@import '../../theme/appTheme';

.filterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10% 6%;
    font-size: $fontMedium;
    max-height: 40rem;
}

.filterAction{
    width: 80%;
    height: 5%;
    padding: 4%;
    display: flex;

    span{
        display: flex;
        flex: 1 1 50%;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        padding: 5%;
        border: 1px solid black;
        overflow: hidden;
        white-space: nowrap;
        min-width: 2.5rem;
        outline: none;
        border-radius: 0;
    }
    .selected{
        background-color: $primary;
        color:white;
    }
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.select{
    width: inherit;
    border-radius: 6px;
    margin: 2% 0;
    padding: 4%;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.button{
    margin: 2% 0;
    width: 50%;
    height: 5%;
}