@import '../../theme/appTheme';

.flightDetailsContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid #e6e6e6;
    box-shadow: 5px 5px 5px #e6e6e6;
    border-radius: 5px;
    margin: 1% 0;

    button{
        background-color: lightcoral;
    }
}

.mainContent{
    display: flex;
    padding: 2% 0%; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section{
    display: flex;
    flex:1 1 15%;
    flex-direction: column;
    text-align: center;
    font-size: $fontMedium;
    font-weight: 700;
    
    span{
        font-size: $fontSmall;
        font-weight: 400;
    }
    
    & .price{
        font-size: $fontMedium;
        font-weight: bold;
        color: lightcoral
    }

    & .green{
        color: green;
        font-weight: bold;
    }
}


.multipleFlightSection {
    background-color: #e6e6e6;

    & .expandedContent{
        width:68%;
    }

    & .customWidth{
        flex-basis: 1rem;
    }
}