@import '../../theme/appTheme';

.flightDetailsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e6e6e6;
    box-shadow: 5px 5px 5px #e6e6e6;
    padding: 2% 0%;
    border-radius: 5px;
    margin: 1% 0;

    button{
        background-color: lightcoral;
    }
}

.section{
    display: flex;
    flex:1 1 15%;
    flex-direction: column;
    text-align: center;
    font-size: $fontMedium;
    font-weight: 700;
    
    span{
        font-size: $fontSmall;
        font-weight: 400;
    }
    
    & .price{
        font-size: $fontMedium;
        font-weight: bold;
        color: lightcoral
    }
}